<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fleet Management</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}"
</head>
<body>
    <h1>Fleet Management System</h1>
    <h2>Registered Vehicles</h2>
    <ul>
        {% for vehicle in vehicles %}
            <li>
                <span><strong>{{ vehicle['LicensePlate'] }}</strong>&nbsp;|&nbsp;Mileage: {{ vehicle['Mileage']}} km</span>
                {% if vehicle['Status'] == 'Maintenance Required' %}
                    <span class="status-warning">{{ vehicle['Status']}}</span>
                {% else %}
                    <span class="status-active">{{ vehicle['Status']}}</span>
                {% endif %}
                </li>
        {% endfor %}
    </ul>

    <hr>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                {% if category == 'error' %}

                <div style ="background-color: #f8d7da; color: #721c24; border: 1px solid #f5c6cb; padding: 15px; margin-bottom: 20px; border-radius: 5px;">
                <strong> {{ message}}</strong>
                </div>
                {% else%}
                <div style=" background-color: #d4edda; color: #155724; border: 1px solid #c3e6cb; padding: 15px; margin-bottom: 20px; border-radius: 5px;">
                <strong>{{ message }}</strong>
                </div>
                {% endif %}
                
            {% endfor %}
        {% endif %}
    {% endwith %}

    <h2>Register a new trip</h2>
    <form action="/add_trip" method = "POST">
        <p>
            <label>Choose vehicle:</label><br>
            <select name="vehicle_id" required>
                <option value="">-- Choose a vehicle --</option>
                {% for vehicle in vehicles %}
                    <option value="{{ vehicle['VehicleID'] }}">{{ vehicle['LicensePlate']}} (Current: {{ vehicle['Mileage'] }} km) (Status: {{ vehicle['Status']}})</option>
                    {% endfor %}
            </select>
        </p>

        <p>
            <label>Choose driver:</label><br>
            <select name="driver_id" required>
                <option value="">-- Choose a driver --</option>
                {% for driver in drivers %}
                    <option value="{{ driver['DriverID'] }}">{{ driver['Name']}} </option>
                    {% endfor %}
            </select>
        </p>

        <p>
            <label>Date: </label><br>
            <input type="date" name="date" required>
        </p>

        <p>
            <label>Distance (km): </label><br>
            <input type="number" name="distance" placeholder="Ex 7000" min ="0" required>
        </p>

        <p>
            <label>Cost (kr): </label><br>
            <input type="number" name="cost" placeholder="Ex 1500" min="0" required>
        </p>

        <button type="submit" style="padding: 10px 20px; font-size: 16px;">Save Trip</button>
    </form>

    <hr>
    <h2>Perform Maintenance</h2>
    <form action="/add_maintenance" method="POST">
        <p>
            <label>Choose vehicle:</label>
            <select name="vehicle_id" required>
                <option value="">-- Choose a vehicle --</option>
                {% for vehicle in vehicles %}
                    <option value="{{ vehicle['VehicleID']}}">{{ vehicle['LicensePlate']}} (Status: {{ vehicle['Status']}})</option>
                    {% endfor %}
            </select>
        </p>
        <p>
            <label>Date: </label><br>
            <input type="date" name="date" required>
        </p>
        <p>
            <label>Cost (kr): </label><br>
            <input type="number" name ="cost" placeholder="Ex 5000" min="0" required>
        </p>
        <p>
            <label>Description: </label><br>
            <input type="text" name="description" placeholder="Ex. Oil change and new brakes" required>
        </p>
        <button type="submit" class="btn-maintenance">Save Maintenance</button>
    </form>
</body>
</html>