<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset=""UTF-8">
    <title>Fleet Management</title>
</head>
<body>
    <h1>Fleet Management System</h1>
    <h2>Registered Vehicles</h2>
    <ul>
        {% for vehicle in vehicles %}
            <li>
                <strong>{{ vehicle['LicensePlate'] }}</strong>
                - Mileage: {{ vehicle['Mileage']}} km
                - Status: {{ vehicle['Status']}}
                </li>
        {% endfor %}
    </ul>

    <hr>

    <h2>Register a new trip (Test trigger)</h2>
    <form action="/add_trip" method = "POST">
        <p>
            <label>Choose vehicle:</label><br>
            <select name="vehicle_id" required>
                <option value="">-- Choose a vehicle --</option>
                {% for vehicle in vehicles %}
                    <option value="{{ vehicle['VehicleID'] }}">{{ vehicle['LicensePlate']}} (Current: {{ vehicle['Mileage'] }} km)</option>
                    {% endfor %}
            </select>
        </p>

        <p>
            <label>Choose driver:</label><br>
            <select name="driver_id" required>
                <option value="">-- Choose a driver --</option>
                {% for driver in drivers %}
                    <option value="{{ driver['DriverID'] }}">{{ driver['Name']}} </option>
                    {% endfor %}
            </select>
        </p>

        <p>
            <label>Date: </label><br>
            <input type="date" name="date" required>
        </p>

        <p>
            <label>Distance (km): </label><br>
            <input type="number" name="distance" placeholder="Ex 7000" required>
        </p>

        <p>
            <label>Cost (kr): </label><br>
            <input type="number" name="cost" placeholder="Ex 1500" required>
        </p>

        <button type="submit" style="padding: 10px 20px; font-size: 16px;">Save Trip</button>
    </form>
</body>
</html>